extends layout


block content
  h1 Conferences
  p Welcome to the conference page!
  p Here you can see all the conferences that have been created by users.

  ul
    each conference in conferences
      li
        a(href="/conferences/" + conference.name)= conference.name
        p
        | at #{conference.location}
        | on #{conference.date}
        p #{conference.attendees.length} people are attending
